body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    width: 480px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    background-color: #e6f2ff;
    border-bottom: 6px solid #b875c3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-shadow: 4px 2px 5px purple;
}

img {
    border: 3px solid #d283ff;
}

h3:hover {
    color: #9a08e9;
}

p:hover {
    color: #97dffc;
}

h4:hover {
    color: #d50e0e;
}