body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    width: 480px;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

.border-blue {
    border: 1px dotted blue;
}